<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="shopping.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="shopping.js"></script>
   
    <title>Document</title>
</head>
<body >

    <div class="shop">
        <div ng-app="myShoppingList" ng-controller="myCtrl">
            <h1>My shopping list</h1>
            <ul>
                    <li ng-repeat="x in products">{{x}}<span ng-click="removeItem($index)">DEL</span></li>
            </ul>
            <input ng-model="addMe" placeholder="add item">
            <button ng-click="addItem()">Add</button>
            <p>{{errortext}}</p>
        </div>
        
    </div>    
       
      
      
</body>
</html>